
.Header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-top: 10rem;
  }
  .Header-Middle {
    color: white;
    font-size: 2rem;
  }
  .Header-Picture {
    width:5rem;
    height:5rem;
  }
  .Wheel-Icons {
    font-size: 1rem;
    color:white;
    position:relative;
    top: 0.1rem;
  }