
.Header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-top: 10rem;
  }
  .Header-Side {
    color: white;
    font-size: 5rem;
  }
  .Header-Picture {
    width:5rem;
    height:5rem;
  }
