
.Header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-top: 10rem;
  }
  .Header-Middle {
    color: white;
    display: flex;
    flex-direction: row;
    gap:5rem;
  }
  .Header-Picture {
    width:5rem;
    height:5rem;
  }
  .Wheel-Icons {
    font-size: 1rem;
    color:white;
    position:relative;
    top: 0.1rem;
  }
  .Welcome-Div {
    width: 30rem;
  }
  .Welcome-Var {
    font-size:2rem;
  }
  .Time-Var {
    font-size: 1.25rem;
  }
  .Portrait {
    width:20rem;
    height:40rem;
  }
  