.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
  }
  
  .navbar-logo {
    color: #fff;
    margin-left: 1.5rem;
    font-style:bold;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    padding-bottom: 0.125rem;
    display:flex;
    flex-direction: row;
    gap: 1em;
    
  }
  .navbar-logo-pic {
    width: 2.75rem;
    height: 2.75rem;
    position: relative;
  }
  .navbar-logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    
    
  }
  .navbar-logo-top-text {
    font-size:1.2rem;
    font-weight: bold;

  }
  .navbar-logo-bottom-text {
    font-size: 0.5em;
    
  }
  .navbar-links {
    padding-inline-start:1rem;
    list-style: none;
    display: flex;
    gap: 3rem;
    border-style: solid;
    border-color: white;
    border-radius: 0.5rem;
    margin-right:1rem;
    padding-right: 1rem;
  }
  
  .navbar-links li {
    margin: 0.5rem;
    padding-right: 0rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  .navbar-icon {
    margin-right:0.25rem;
    font-size: 1rem;
    color:white;
    position:relative;
    top: 0.1rem;
  }