/* Popup.css */
.popup {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 20rem;
    padding: 1rem;
    background-color: #fff;
    border: 0.1rem solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10; /*not needed yet, only to place the popup on top of any pre-existing graphic*/
  }
  
  .popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }