.carousel-container {
    --carousel-item-height: 6rem; 
    position: relative;
    overflow: hidden; /* main functionality to to show only one item at a time to user */
    width: 15rem;
    height: var(--carousel-item-height);
    border-radius: 0.75rem;
  
  }
  
  .carousel-content {
    display: flex;
    flex-direction: column; 
    transition: transform 0.75s ease-in-out;
  }
  
  .carousel-item {
    height: var(--carousel-item-height); 
    width: 15rem; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    font-style:bold;
  }
  
  .carousel-button {
    color:white;
    font-style: italic;
    
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .carousel-button.prev {
    position: relative;
    top: 1rem;
  }
  
  .carousel-button.next {
    position: relative;
    bottom:1rem;
    
  }

  