.carousel-container {
    --carousel-item-height: 3rem; 
    top:15rem;
    position: relative;
    overflow: hidden; /* Hide overflow to show only one item at a time */
    width: 10rem;
    height: var(--carousel-item-height);
    margin-bottom: 200px;
  }
  
  .carousel-content {
    display: flex;
    flex-direction: column; 
    transition: transform 0.75s ease-in-out;
  }
  
  .carousel-item {
    height: var(--carousel-item-height); /* Set a fixed height to match the container */
    width: 10rem; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color: black;
  }
  
  .carousel-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel-button.prev {
    position: relative;
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }

  